<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL94Dialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://ec2-174-129-212-133.compute-1.amazonaws.com:5432/daso7mvl75ls45</property>
    <property name="hibernate.connection.username">aajbjxnibxhspz</property>
    <property name="hibernate.connection.password">Xxvx46w_IEI7oSeKDnVCHEoylQ</property>
    <property name="hibernate.default_schema">tt</property>
    <property name="hibernate.current_session_context_class">thread</property>
    
    <property name="hibernate.connection.provider_class">org.hibernate.c3p0.internal.C3P0ConnectionProvider</property>
    <property name="hibernate.c3p0.min_size">1</property>
    <property name="hibernate.c3p0.max_size">19</property>
    <property name="hibernate.c3p0.timeout">120</property>
    <property name="hibernate.c3p0.max_statements">10</property>
    
    <mapping resource="com/monitorecg/hibernate/entities/Paciente.hbm.xml"/>
    <mapping resource="com/monitorecg/hibernate/entities/Prueba.hbm.xml"/>
    <mapping resource="com/monitorecg/hibernate/entities/Cardiologo.hbm.xml"/>
    <mapping resource="com/monitorecg/hibernate/entities/Reporte.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
