.color-boton{
	background-color: #0086E5;
	font-size: 17px;
	border   : 1px solid ;
	width: 100px;
        color: white;
}

button:hover{
	border   : 1px solid #88A7EA;
	background-color: #D1D1DB;
}

.boton-reporte{
	width: 150px;	
}

.boton-guardar-pendiente{
	background-color: #0086E5;
	font-size: 17px;
	border   : 1px solid ;
	width: 145px;
        color: white;
}

button a.boton-cancelar{
    color: #333;
    text-decoration: none;
    color: white;
}

button a.boton-cancelar:hover{
    color: #333;
}
