<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.monitorecg.controlador.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Hibernate</servlet-name>
        <servlet-class>com.monitorecg.pruebas.Hibernate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModuloElectrocardiogramas</servlet-name>
        <servlet-class>com.monitorecg.controlador.ModuloElectrocardiogramas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModuloPacientes</servlet-name>
        <servlet-class>com.monitorecg.controlador.ModuloPacientes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModuloPerfil</servlet-name>
        <servlet-class>com.monitorecg.controlador.ModuloPerfil</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Hibernate</servlet-name>
        <url-pattern>/Hibernate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModuloElectrocardiogramas</servlet-name>
        <url-pattern>/ModuloElectrocardiogramas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModuloPacientes</servlet-name>
        <url-pattern>/ModuloPacientes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModuloPerfil</servlet-name>
        <url-pattern>/ModuloPerfil</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <!-- SiteMesh -->
    <filter>
        <filter-name>sitemesh</filter-name>
        <filter-class>com.opensymphony.sitemesh.webapp.SiteMeshFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>sitemesh</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <!-- spark web server-->
    <filter>
        <filter-name>SparkFilter</filter-name>
        <filter-class>spark.servlet.SparkFilter</filter-class>
        <init-param>
            <param-name>applicationClass</param-name>
            <param-value>com.monitorecg.web.server.spark.MonitorECGApplication</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>SparkFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

</web-app>
